<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

    <connectionStrings>
        <add name="AzureC" connectionString="Server=tcp:uninpahu-class-test.database.windows.net,1433;Initial Catalog=TallerMecanicoAssociate20211;Persist Security Info=False;User ID=ccobossa4523;Password=Associate2541$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
        <add name="AzureY" connectionString="Server=tcp:uninpahu-class-test.database.windows.net,1433;Initial Catalog=TallerMecanicoAssociate20211;Persist Security Info=False;User ID=yerssonyrc;Password=Yroaca#1991;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    </connectionStrings>
</configuration>