# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.TMA.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ciro_\Clases\2021-1 Associate\TM_20211\.idea\.idea.TMA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
